

.sitenav{
    background: linear-gradient(to right, #243B55,#141E30);
    color:white;
     

}

.drop{
    color:white;
}
.drop1 {
    color: red; /* Replace 'red' with your desired color */
  }
  